numpy
scipy
sympy
pandas
pandas-datareader
matplotlib
seaborn
plotly
yfinance
statsmodels
scikit-learn
graphviz
ipykernel
jupyterlab
nltk
textblob
wordcloud
urllib3
beautifulsoup4
requests
pygooglenews
